#about-section {
  padding-top: 7px;
  padding-bottom: 0;
  color: var(--color-grayText);

  & > .container {
    position: relative;
    z-index: 3;
    transform: translateY(83px);

    @include respond-to(xl) {
      transform: none;
    }
  }

  & p {
    @include font-size(18px);
    line-height: 28px;
    margin: {
      top: 0;
      bottom: 26px;
    }

    &:first-of-type {
      @include font-size(22px);
      font-weight: 600;
      line-height: 30px;
      margin-bottom: 1rem;
    }
  }

  & .images-grid {
    padding-top: 15px;
    padding-bottom: 30px;

    @include respond-to(sm) {
      padding-top: 0;
    }
  }

  @include respond-to(xl) {
    padding-top: 90px;
    padding-bottom: 60px;
  }
  @include respond-to(sm) {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
