#call-section {
  padding-top: 285px;
  position: relative;
  z-index: 2;
  background: {
    image: url("../images/backgrounds/book-text.png");
    position: center 225px;
    repeat: no-repeat;
    color: var(--color-blueBg);
  }

  & .block-header {
    & h2 {
      @include font-size(80px);
      margin-bottom: 18px;
    }
  }

  & button {
    color: var(--color-grayText);
    padding: 23px 68px 20px;

    &:hover {
      background: var(--color-grayBg) !important;
      color: var(--color-blueText);
    }
  }

  & iframe {
    margin-top: 69px;
    transform: translateY(66px);

    @include respond-to(sm) {
      margin-top: 15px;
    }
  }

  @include respond-to(sm) {
    padding-top: 170px;
    background-position: center 105px;
  }
}
