#features-section {
  position: relative;
  background: var(--color-blueBg);
  --left-padding: 45px;

  &:before {
    content: " ";
    display: block;
    width: 50%;
    height: 100%;
    background: var(--color-grayBg);
    position: absolute;
    left: 0;
    top: 0;
  }

  & .container {
    position: relative;
    padding-top: 95px;
    padding-bottom: 185px;

    & > .row {
      position: relative;
      z-index: 2;
    }

    &:before {
      display: block;
      content: " ";
      height: 100%;
      width: calc(100% - var(--left-padding, 0));
      background: {
        image: url("../images/backgrounds/accomodation-text.png");
        position: 60% 85%;
        repeat: no-repeat;
        color: var(--color-grayBg);
      }
      position: absolute;
      inset: 0;

      border-radius: 0 0 var(--big-border-radius) 0;

      @include respond-to(lg) {
        width: 100%;
        border-radius: 0;
      }
    }

    @include respond-to(lg) {
      padding-top: 60px;
      padding-bottom: 80px;
    }
    @include respond-to(sm) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  & .features-lists {
    display: grid;
    grid-template-columns: repeat(3, 33.333333%);
    gap: var(--bs-gutter-x);

    @include respond-to(lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond-to(sm) {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  & .images-grid {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(var(--left-padding));
    z-index: 4;
    gap: 32px;
    grid-template-columns: repeat(2, 415px);
    grid-template-rows: repeat(2, 200px);
    & img:first-child {
      opacity: 0;
    }

    @media (max-width: 1350px) {
      right: calc(var(--bs-gutter-x) / 2);
    }

    @include respond-to(lg) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 200px);
      position: relative;
      right: 0;
      width: 100%;
      transform: none;
      margin-top: 20px;

      & img:first-child {
        display: none;
      }
      & img:nth-child(2) {
        display: none;
      }
    }

    @include respond-to(sm) {
      grid-template-columns: 1fr;
      & img:nth-child(3) {
        display: none;
      }
    }
  }
}
