#testimonials-section {
  padding-top: 210px;
  padding-bottom: 130px;
  background: var(--color-grayBg);
  position: relative;

  & .testimonial {
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 35px;

      & > div {
        text-align: center;
      }
    }
    &__text {
      @include font-size(18px);
      line-height: 28px;
      color: var(--color-blueText);
      font-style: italic;
    }

    &__author {
      @include font-size(18px);
      line-height: 28px;
      color: var(--color-blueText);
      padding-top: 20px;
      font-family: var(--font-family-l);
    }
  }

  @include respond-to(md) {
    padding-top: 140px;
  }
  @include respond-to(sm) {
    padding-top: 115px;
  }
}
