.block-header {
  &__prepend {
    @include font-size(12px);
    font: {
      weight: 500;
      family: var(--font-family-m);
    }
    line-height: 1;
    color: var(--color-blueSubhead);
    text-transform: uppercase;
    margin-bottom: 22px;

    &.color_gray {
      color: #7a715a !important;
    }
  }

  & h2 {
    margin: {
      top: 0;
      bottom: 35px;
    }

    @include font-size(44px);

    font: {
      weight: 400;
      family: var(--font-family-l);
    }
    line-height: 1;
  }

  &_center {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
      text-align: center;
    }
  }
}
