/* footer styles start */
.footer {
  &__slogan {
    @include font-size(18px);
    line-height: 24px;
    font-weight: 400;
    padding-bottom: 42px;
  }

  &__contacts {
    @include respond-to(lg) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      & .footer__contact:first-child {
        grid-area: 1/1/3/2;
      }
    }

    @include respond-to(sm) {
      display: flex;
      flex-direction: column;
    }
  }

  &__contact {
    display: flex;
    align-items: flex-start;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
    margin-bottom: 32px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    margin-right: 13px;
    @extend .color_gray;
  }

  &__text {
    overflow: hidden;
  }

  &__title {
    font-size: 24px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 11px;
    @extend .color_gray;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    word-wrap: break-word;
    @extend .color_gray;

    @media (max-width: 420px) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__socials {
    display: flex;
    gap: 7px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      text-decoration: none;
      font-size: 20px;
      border-radius: 50%;
      @extend .color_blue;
      @extend .bg_gray;
    }
  }

  &__form {
    background: #08103a;
    border-radius: 10px 50px 10px 10px;
    @include font-size(15px);
    line-height: 30px;
    padding: 65px 56px 64px;

    @include respond-to(md) {
      margin-top: 25px;
    }

    & .form-group {
      margin-bottom: 24px;

      & .required {
        color: var(--color-error);
      }

      & .error {
        font-size: 14px;
        color: var(--color-error);
      }
    }

    & .form-label {
      display: block;
      margin-bottom: 5px;
    }

    & .form-control {
      font-weight: 400;
      height: 60px;
      border-radius: 3px;
      border: none;

      &:focus,
      &:hover {
        box-shadow: none;
        outline: none;
      }
    }

    & textarea.form-control {
      height: 228px;
    }

    & .button {
      margin-top: 26px;
      padding: 24px 53px 23px;

      @include respond-to(lg) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    @include respond-to(lg) {
      margin-top: 30px;
    }
    @include respond-to(sm) {
      padding: 30px 30px 35px;
    }
  }

  &__menu {
    padding-top: 48px;
    padding-bottom: 70px;

    & ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;

      & li {
        & a {
          @extend .color_gray;
          font-size: 16px;
          line-height: 36px;
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;
          margin-right: 35px;

          @include respond-to(lg) {
            margin-right: 0;
          }

          @include respond-to(sm) {
            text-align: center;
            display: block;
            margin-right: 0;
          }
        }

        &:last-child a {
          margin-right: 0;
        }

        @include respond-to(lg) {
          text-align: center;
        }
      }

      @include respond-to(lg) {
        display: block;
        columns: 3;
      }

      @include respond-to(md) {
        order: 1;
      }

      @include respond-to(sm) {
        columns: 1;
      }
    }

    @include respond-to(sm) {
      padding-bottom: 30px;
    }
  }

  &__rights {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 36px;
    font-weight: 400;
    @extend .color_gray;

    @include respond-to(lg) {
      flex-direction: column;
      align-items: center;
      line-height: 14px;
      margin-top: 25px;
      margin-bottom: 10px;
    }

    @include respond-to(md) {
      order: 2;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__copyright {
    @include respond-to(lg) {
      text-align: center;
      line-height: 20px;
    }

    & a {
      @extend .color_gray;
    }
  }

  &__authors {
    display: flex;
    align-items: center;
    line-height: 100%;

    & a {
      @extend .color_gray;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    & img {
      margin-left: 2px;
      margin-top: 2px;
    }

    @include respond-to(lg) {
      margin-top: 10px;
    }
  }
}
/* footer contacts styles start */
/* footer contacts styles end */
/* footer form styles end */
/* footer styles end */
