.icon-panes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;

  @include respond-to(lg) {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  @include respond-to(md) {
    grid-template-columns: 1fr;
    gap: 15px;
    justify-items: center;
  }
}
.icon-pane {
  background: var(--color-grayLightBg);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 27px 23px;
  color: var(--color-blueText);
  @include transition(all);

  &:hover {
    background: #dfd4b5;
  }

  &__icon {
    background: var(--color-blueBg);
    @extend .flex_center;
    width: 72px;
    height: 72px;
  }

  &__title {
    margin: {
      top: 0;
      bottom: 3px;
    }

    font: {
      family: var(--font-family-l);
      weight: 400;
    }

    @include font-size(30px);

    @include respond-to(xl) {
      @include font-size(28px);
    }
  }

  &__button {
    position: relative;
    color: var(--color-blueText);
    display: flex;
    align-items: center;
    gap: 11px;

    font: {
      size: 12px;
      weight: 600;
    }
    line-height: 28px;
    text-transform: uppercase;

    &:after {
      width: 59px;
      height: 1px;
      background: var(--color-blueText);
      content: " ";
      display: block;
    }

    @media (max-width: 328.98px) {
      line-height: 19px;
    }
  }

  @include respond-to(md) {
    width: 100%;
    max-width: 540px;
  }
}
