.lightwidget {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;

  &__image {
    position: relative;
    cursor: pointer;

    & img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: center;
      border-radius: var(--border-radius);
    }

    &:before {
      content: " ";
      display: block;
      background: {
        image: url("../images/backgrounds/lightwidget.png");
        position: center;
        repeat: no-repeat;
        color: var(--color-grayLightBg);
      }
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: var(--border-radius);
      @include transition(opacity);
    }

    &:after {
      content: " ";
      display: block;
      background: {
        image: url("../images/backgrounds/instagram-text.png");
        position: 50% 100%;
        repeat: no-repeat;
      }
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: var(--border-radius);
      @include transition(opacity);
      z-index: 2;
    }

    &:hover:before,
    &:hover:after {
      opacity: 1;
    }
  }
}
