.menu {
  position: fixed;
  z-index: 999;
  height: 100%;
  background: {
    image: url("../images/backgrounds/menu.jpg");
    position: 0 100%;
    color: var(--color-blueBg);
  }
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 95px 0;
  font-family: var(--font-family-l);
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.5s ease-out;

  &__opened {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.5s ease-out;
  }

  &__toggler {
    background: none;
    border: none;
    border-radius: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 87px;
    height: 70px;
    padding: 0;
    @include transition(transform);

    &:before {
      display: block;
      content: " ";
      background: var(--color-grayBg);
      width: 30px;
      height: 2px;
      border-radius: 2px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      transform-origin: center;
    }
    &:after {
      display: block;
      content: " ";
      background: var(--color-grayBg);
      width: 30px;
      height: 2px;
      border-radius: 2px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      transform-origin: center;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:hover {
      transform: rotate(180deg);
    }
  }

  & ul {
    margin: 0;
    padding: 0;
    & li {
      text-align: center;
      & a {
        @include font-size(24px);
        line-height: 66px;
        @extend .color_gray;

        @media (max-height: 720px) {
          line-height: 50px;
        }
      }
    }
  }

  &__footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & h2 {
      font: {
        family: var(--font-family-l);
        weight: 400;
      }
      @include font-size(50px);
      margin-bottom: 18px;
      margin-top: 0;
    }

    & .button {
      padding: 24px 70px 23px;
    }
  }

  &__book {
    font: {
      family: var(--font-family-l);
    }
    @include font-size(90px);
    line-height: 21px;
    color: #434b7d;
  }

  @include respond-to(md) {
    background-size: cover;
  }

  @include respond-to(sm) {
    background-size: contain;
  }

  @media (max-height: 630px) {
    padding: 30px 0;
  }

  @include respond-h() {
    padding: 30px 0;
  }
}
