.modal {
  font-size: 16px;
}
.modal-header {
  font-size: 24px;
  & button {
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 30px;
    padding-top: 4px;
  }
}
.modal-title {
  font-size: 24px;
  margin-top: 0;
}

#galleryModal {
  & .modal-dialog {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    background: rgba(13, 21, 69, 0.9);
    overflow-y: auto;
  }
  & .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.category-inner {
      justify-content: flex-start;
    }

    @include respond-to(sm) {
      justify-content: flex-start;
    }
  }
  & .modal-content {
    background: none;
    border: none;
    border-radius: 0;
    color: var(--color-grayText);
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;

    & .modal-header {
      border: none;
      border-radius: 0;

      & h2 {
        margin-bottom: 0;
      }

      & button {
        box-sizing: content-box;
        border: none;
        color: var(--color-grayText);
        font-size: 4rem;
        font-weight: 300;
        border: 2px solid var(--color-grayText);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        max-height: 61px;
        opacity: 1;
        background: none !important;

        @include respond-to(sm) {
          padding: 6px;
          position: absolute;
          right: -20px;
          top: 20px;
          border: none;
        }

        &:focus {
          outline: none !important;
          box-shadow: none !important;
        }
      }
    }
  }
}
