.slider {
  width: 100%;

  & .slick-track {
    padding: 0;
  }

  &__image {
    max-height: 890px;
    position: relative;

    & img {
      aspect-ratio: 2/1;
      object-fit: cover;
      width: 100%;
      height: 100%;

      @include respond-to(md) {
        aspect-ratio: 3/2;
      }
      @include respond-to(sm) {
        aspect-ratio: 1/1;
      }
    }

    &:before {
      content: " ";
      display: block;
      @extend .absolute_cover;
      background-image: linear-gradient(
        0deg,
        rgb(0, 0, 0) 0%,
        rgba(0, 0, 0, 0.01) 0%,
        rgb(0, 0, 0) 100%
      );
      opacity: 0.6;
    }

    &:after {
      content: " ";
      display: block;
      @extend .absolute_cover;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &__navigation {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding-top: 60px;

    @include respond-to(md) {
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__nav {
    @extend .flex_center;
    @extend .block_circle;
    width: 56px;
    height: 56px;
    background: var(--color-grayLightBg);
    color: var(--color-blueText);
    border: none;
    cursor: pointer;
    @include transition(opacity);

    &:hover {
      opacity: 0.8;
    }
  }
}
